.whycontainer {
    border: solid 1px black;
    background-color: whitesmoke;
    display: flex;
    max-width: 600px;
    /* margin-bottom: 80px; */
}

.btn {
    background: slategray;
    width: 250px;
    border: solid 1px black;
    height: 40px;
    opacity: 0.5;
}

.btn:hover {
    opacity: 1.0;
    filter: alpha(opacity=100);
}

.whymessage {
    text-align: left;
    margin: 2rem;
    color: black;
    /* margin-bottom: ; */
}

.whyerinformation {
    max-width: 600px;
    height: 60px;
    background-color: slategray;
    border: solid 1px black;
    display: flex;
    font-size: small;
}

.dateofwhy {
    color: lightblue;
    padding-left: 30px;
}

.whyerinformation img {
    height: 45px;
    width: 45px;
    border-radius: 20px;
    border: solid 1px black;
    margin: 0.3rem;
}

.whyerinformation p {
    margin-top: 15px;
    margin-left: 10px;
}

.flexsection {
    padding-top: 5px;
    display: flex;
    justify-content: space-around;
    max-width: 600px;
}

.items-center {
    padding-bottom: 60px;
}

/* .whybtn {
    border: slategray;
    border: 4px slategray;
    justify-content: end;
} */
/* border border-slate-300 text-slate-300 px-2 py-1 rounded
hover:bg-slate-700 focus-within:bg-slate-700 outline-none" */


/* btnstyle 
border border-slate-300 text-slate-300 px-2 py-1 rounded
      hover:bg-slate-700 focus-within:bg-slate-700 outline-none */